  <!-- == About Us Section === -->
  <section class="about">
     <div class="container">
        <div class="row">
           <div class="col-lg-5">
              <div class="author-img">
                 <img src="/assets/images/pic.jpeg" class="img-fluid" alt="">
              </div>
           </div>
           <div class="col-lg-7 d-flex flex-column justify-content-center">
              <div class="section-title mt-4">
                 <h2>About Us</h2>
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type</p>
              </div>
              <div class="icon-box">
                 <i class="fas fa-address-card"></i>
                 <h4 class="title"><a href="">I am from</a></h4>
                 <p class="description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock.</p>
                 <a href="#" class="btn btn-warning float-right mt-2 mb-2">Read More »</a>
              </div>
              <hr>
              <div class="icon-box">
                 <i class="fas fa-university"></i>
                 <h4 class="title"><a href="">Education</a></h4>
                 <p class="description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</p>
                 <a href="#" class="btn btn-warning float-right mt-2 mb-2">Read More »</a>
              </div>
           </div>
        </div>
     </div>
  </section>
  <!-- End About Us Section -->
