<div id="myUL" style="display: flex;">
    <!-- <div id="ids" style="width: 5%;margin-left:50px">
        {{ todo.sno }}
    </div> -->
    <div class="form-group form-check" style="width: 2%;margin-left:50px;margin-bottom: .5rem; padding: .375rem .75rem;">
        <input type="checkbox" name="todocheckbox" class="form-check-input" id="examplecheck" (click) = "onCheckBoxClick(todo)" [checked]="!todo.active">
    </div>
    <div id="content" style="width: 90%;" [ngClass]="{'strike':!todo.active}">
        <h3 class="h31">{{ todo.title }}</h3>
    </div>
    <button class="btn btn-danger" id="delkey" (click)="onDelete(todo)" style="width: 3%;margin-bottom: .5rem;">
        <i class="fa fa-trash"></i>
    </button>
</div>